


.selected{

    background-color: bisque;
    color: black;
    border-radius: 4px;
    border-color: bisque;
    border-width: 1px;
}


.local_message{
    width: 40%;
    height: 120px;
    left: 0px;
    background-color:rgb(192, 247, 181);
    color: black;
    border-radius: 40%;
    padding: 0px;
    margin-left: 8px;
    margin: 10px;   

}

.time{

    margin-top: 0px !important;
}

.incoming_message{

    width: 40%;
    margin-left: 60%;
    background-color: brown;
    color: white  ;
    border-radius: 40%;
    padding: 0px;
    
    /* margin-left: 8px; */
    /* margin: 10px;    */

}